.html, body{
    height: 100%;
    
}
.trainingWrapper{
    background-image: linear-gradient( #0f9b0f, #52c234, #52c234, #0f9b0f);
    height: 110vh;
    margin-top: 0;
    padding-top: 0;
    display: flex;
    justify-content: center;
}
.deckDisplay{
    height: 315px; 
    width: 225px;
}

.trainLinksContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    
}
.trainingDrillsHeader{
    font-size: 3em;
    margin-top: -7%;
}
.trainLinks{
    color: #FFF;
    font-size: 2em;
    margin: 1vh;
    transition: .3s ease-out;
    text-decoration: none;
    border-bottom: white 3px solid;
 
}
.drillHeader{
    margin-top: 0;
    padding-top: 0;
    
}
.trainLinks:hover{
    font-size: 2.5em;
    transition: .3s ease-out;
   
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    
}
.showCountDiv{
    opacity: 1;
    margin: 0;
}
.hideCountDiv{
    opacity: 0;
    margin: 0;
}
.toggleCount{
    cursor: pointer;
}
.runningCountTrueCountForm{
    display: flex;
    flex-direction: column
}
.checkButton{
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    border: 2px solid black;
}
.subTitle{
    margin: 0;
    padding: 0;
}
.betButtonContainer{
    align-items: center;
}

.basicStrategyWrapper{
    background: silver;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.dealerHand{
    width: 100%;
    display: flex;
    justify-content: center;
}
.playerHand{
    width: 100%;
    display: flex;
    justify-content: center;
}
.dealBSButton{
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
    width: 50%;
    background-color: black;
    color: white;
    border: 2px solid white;
}
.handDescription{
    margin: 0;
    padding: 0;
}