*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
    
}
body{
    background-color: #FFF
} 
h1 {
    color: red;
}

.title{
    color: blue;
}

#inputForm {
    border: 2px black dashed;
    padding: 10px;
    width: 80%;
    align-content: center;
    background-color: #B5C689;
    color: #0D3D56;
    
}

#inputTitle {
    
    padding: 5px;
    width: 20%;
    margin: 5px;
}

#inputDescription {
    padding: 5px;
    width: 20%;
    margin: 5px;
  
}
#imageURL {
    padding: 5px;
    width: 20%;
    margin: 5px;
}
#inputPrice{
    padding: 5px;
    width: 10%;
    margin: 5px;
}

#addItem {
    margin-left: 2%;
    background-color: #0D3D56;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2em;
    color: #FFF;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.wrapper{
    border: black 3px solid;
    margin: 10px;
    padding: 10px;
    display: flex;

}
.listHolder {
    border: black 3px solid;
    margin: 20px;
    width: 475px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo {
    border: black 3px solid;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 400px;
    height: 145px;
    margin: 10px;
    padding: 10px;
    background-color: #43ABC9;
    color: white;
   

}

.completed{
    color: red;
}

h3{
    margin:0;
    text-decoration: underline;
}

.urlimage{
    width: 100px;
    height: 100px;
    margin-left: 40px;
    border-radius: 50%;
    position: relative;
    bottom: 190px;
    float: right;

}
.completeButton {
    height: 35px;
    width: 35px;
    margin-left: 64%;
    padding: 5px;
    position: absolute;
    left: -570px;
    
    
}  

.deleteButton {
    height: 37px;
    width: 37px;
    position: absolute;
    left: 450px;
    
}

.editButton {
    height: 35px;
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
    position: absolute;
    left: 390px;
}
.publishButton {
    height: 35px;
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    bottom: 40px;
}


.completeButton:hover {
    height: 40px;
    width: 40px;
    
}

.deleteButton:hover {
    height: 40px;
    width: 40px;
}

.editButton:hover {
    height: 40px;
    width: 40px;
}

.editField {
    margin: 10px;
    padding: 2px;
    padding-left: 10px;
    width: 55%;
    border-radius: 10px;
}