h1 {
    color: red;
}

.title{
    color: blue;
}

#inputForm {
    border: 1px black dashed;
    padding: 10px;
    width: 80%;
    align-content: center;
    
}

#inputTitle {
    
    padding: 5px;
    width: 20%;
    margin: 5px;
}

#inputDescription {
    padding: 5px;
    width: 20%;
    margin: 5px;
}
#imageURL {
    padding: 5px;
    width: 20%;
    margin: 5px;
}
#inputPrice{
    padding: 5px;
    width: 10%;
    margin: 5px;
}

#addItem {
    margin-left: 2%;
    background-color: silver;
    padding: 5px;
    font-size: 1.2em;
}



.todo {
    border: black 3px solid;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 400px;
    height: 145px;
    margin: 10px;
    padding: 10px;

}

.completed{
    color: red;
}

h3{
    margin:0;
    text-decoration: underline;
}

.urlimage{
    width: 100px;
    height: 100px;
    margin-left: 40px;
    border-radius: 50%;
    position: relative;
    bottom: 190px;
    float: right;

}
.completeButton {
    height: 35px;
    width: 35px;
    margin-left: 64%;
    padding: 5px;
    display: inline-block;
    position: relative;
    bottom: 40px;
    
}  

.deleteButton {
    height: 37px;
    width: 37px;
    display: inline-block;
    position: relative;
    bottom: 40px;
    
}

.editButton {
    height: 35px;
    width: 35px;
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    bottom: 40px;
   
}

.completeButton:hover {
    height: 40px;
    width: 40px;
    
}

.deleteButton:hover {
    height: 40px;
    width: 40px;
}

.editButton:hover {
    height: 40px;
    width: 40px;
}