h1 {
    color: red;
}

.title{
    color: blue;
}

#inputForm {
    border: 1px black dashed;
    padding: 10px;
    width: 500px;
}

#inputTitle {
    
    padding: 10px;
    width: 90%;
}

#inputDescription {
    padding: 10px;
    width: 90%;
}

#addItem {
    margin-left: 30%;
    background-color: silver;
    padding: 5px;
    font-size: 1.2em;
}



.todo {
    border: black 3px solid;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 300px;
    margin: 10px;
    padding: 10px;

}

.completed{
    color: blue;
}

h3{
    margin:0;
}