* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
#copyright {
    margin-top: 50px;
    float: right;
    color: blue;
}
body {
    background-color: silver;
    margin: 0;

}
.banner {
    background-image: url('blackwood.jpg');
    height: 100px;
    margin: 0px;
    color: white;
}
#loginbutton {
    margin-left: 10px;
    font-weight: bold;
    border: black 2px solid;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    
}
#loginbutton:hover {
    background: silver;
    
}
h1 {
    display: inline-block;
    padding-left: 4.3%;
    padding-top: 1%;
   
}
h2 {
    text-align: center;
}
#loginbox {
    display: inline;
    float: right;
    margin: 20px;
}

#navigation {
    background-image: linear-gradient(grey, black);
    height: 25px;
}
ul {
    list-style: none;
    margin: 0px;
    color: white;
}
li {
    float: left;
    display: block;
    padding-right: 2%;
    padding-left: 2%;
}
li:hover {
    background-color: black;
}
a {
    text-decoration: none;
    color: white;
}

.contentwrapper {
    background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
    border: solid black 3px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2em;
}

#animationwrapper {
    height: 50px;
    width: 100%;
    overflow:hidden;
    display:inline-block;
    
}
hr {
    width: 70%;
    height: 2px;
    margin-bottom: 30px;
}
#linebreak {
    text-align: center;
    margin-bottom: 2em;
}
#linebreak2 {
    text-align: center;
    margin-bottom: 1em;
    font-style: italic;
}
#haveyoubeen {
    margin-left: 23%;
    font-size: 30px;
    font-weight: thin;
    display: inline-block;
    animation: showup 5s infinite;
}

#missingprofittargets {
    font-size: 30px;
    font-weight: thin;
    display: inline-block;
    animation: showup2 20s infinite, 
               slidein1 20s infinite;
    position: absolute;
}
#leavingmoneydiv { 
    font-size: 30px;
    font-weight: thin;
    display: inline-block;
    animation: showup3 20s infinite, 
               slidein2 20s infinite;
    position: absolute;
}
#exitingdiv {
    font-size: 30px;
    font-weight: thin;
    display: inline-block;
    animation: showup4 20s infinite, 
               slidein3 20s infinite;
    position: absolute;
}
#otherdiv {
    font-size: 30px;
    font-weight: thin;
    display: inline-block;
    animation: showup5 20s infinite, 
               slidein4 20s infinite;
    position: absolute;
}
p{
    font-size: 1.1em;
}


@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}
@keyframes showup2 {
    0% {opacity:0;}
    5% {opacity:1;}
    20% {opacity:1;}
    25% {opacity:0;}
    100% {opacity:0;}
}
@keyframes showup3 {
    0% {opacity:0;}
    25% {opacity:0;}
    40% {opacity:1;}
    45% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:0;}
}
@keyframes showup4 {
    0% {opacity:0;}
    50% {opacity:0;}
    55% {opacity:1;}
    70% {opacity:1;}
    75% {opacity:0;}
    100% {opacity:0;}
}
@keyframes showup5 {
    0% {opacity:0;}
    75% {opacity:0;}
    80% {opacity:1;}
    95% {opacity:1;}
    100% {opacity:0;}
}
@keyframes slidein1 {
    0% { margin-left:300px; }
    0% { margin-left:300px; }
    10% { margin-left:8px; }
    100% { margin-left:8px; }
}
@keyframes slidein2 {
    0% { margin-left:300px; }
    25% { margin-left:300px; }
    35% { margin-left:8px; }
    100% { margin-left:8px; }
}
@keyframes slidein3 {
    0% { margin-left:300px; }
    50% { margin-left:300px; }
    60% { margin-left:8px; }
    100% { margin-left:8px; }
}
@keyframes slidein4 {
    0% { margin-left:300px; }
    75% { margin-left:300px; }
    85% { margin-left:8px; }
    100% { margin-left:8px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:500px;}
    80% {opacity:1;}
    100% {opacity:0;width:500px;}
}